/* I am a mess. don't look at me! */

body {
  color:black;
  font:86% 'lucida grande','lucida sans unicode',Verdana,Tahoma,Arial,sans-serif;
  line-height:1.2em;
  margin:0 auto;
  padding:0;
}
body, div {
  background: #ffc;
}

a {
  color:#CC5400; /* orange4 */
  font-weight:700;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

h1 a:hover {
  text-decoration:none;
}


ul,ol,dl {
  font-size:1em;
  margin:2px 0 16px 0px;
}

ul ul,ol ol {
  margin:4px 0 4px 10px;
}

ul.posts li span { float:right; font-family:monofur, monaco, courier;  }
ul.posts li a { font-weight:200;}

div#post ul li { list-style: circle; }

blockquote {
  border-left:8px solid #0383c9;
  font-size:1.0em;
  margin:20px 10px;
  padding:10px;
  padding-left:20px;
}
blockquote span {
  display: block; 
  float: right;
  padding-right:20px;
}

pre { 
  font-family: Monaco, Courier;
  border: dashed 2px #e5e5e5;
  width: 600px;
  padding: 5px;
  font-size:1em;
  line-height: 2em;
  clear:both;
}

.terminal
{
  background: #222021;
  color: #ddd;
}


h1 {
  color:#0383c9;
  font-size:4.7em;
  letter-spacing:-5px;
  margin:0 0 30px 0px;
  padding:50px 0 0 0;;

}

h1 a {
  color:#0383c9;
  text-transform:none;
}


.orange1 { color: #B23600; }
.orange2 { color: #FF8A00; }
.orange3 { color: #fba919; }
.orange4 { color: #CC5400; }
.orange5 { color: #B21E00; }

.slogan a { padding:3px; line-height: 2.5em; }


h2 {
  border-bottom:1px solid #FF8A00; /* orange2 */
  font-size:1.7em;
  font-weight:100;
  letter-spacing:-1px;
  margin:0 0 10px;
  padding:0px 2px 4px 5px;
}

/*** Main wrap and header ***/

#wrap{
  width:500px;
}


#header {
  margin:0;

}

#toplinks {
  font-size:0.9em;
  padding:5px 2px 2px 3px;
  text-align:right;
}

div.slogan {
  font-size:1.5em;
  font-weight:700;
  letter-spacing:-1px;
  line-height:1.2em;
  margin:-15px 0 60px 0px;
}
div.slogan div { display:inline;}

/*** Main content ***/

#content {
  line-height:1.5em;
  margin:0;
  padding:0;
  text-align:left;
  width:500px;
}

#content h3, #contentalt h3 {
  margin:10px 0 8px 0.5em;
  color:#FF8A00; /* orange2 */
}

/*** Footer ***/

#footer {
  width:500px;
  font-size:0.9em;
  line-height:1.6em;
  text-align:right;
  margin: auto;
}

#footer a {
  color:#FF8A00;
}

/*** Various classes ***/

.box {
  background:#4088b8;
  border:1px solid #c8c8c8;
  color:#fff;
  font-size:0.9em;
  line-height:1.4em;
  padding:10px 10px 10px 13px;
}

.box a {
  color:#f0f0f0;
}

.left {
  float:left;
  margin:0 15px 4px 0;
}

.right {
  float:right;
  margin:0 0 4px 15px;
}


.clear {
  clear:both;
}

