/* I am a mess. don't look at me! */

.lightorange { color: #FF8A00; }
.darkorange { color: #c50; }

h2 {
    font-size:18px;
    line-height:20px;
}

h1 a:hover {
    text-decoration:none;
    color:#C50;
}
