* {
  margin: 0;
}
html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2em; /* the bottom margin is the negative value of the footer's height */
}
#footer, #push {
  height: 2em; /* .push must be the same height as .footer */
}

