<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
        <meta name="author" content="Julia Evans" />
        <link rel="stylesheet" type="text/css" href="/home/bork/clones/bootstrap/docs/assets/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../_includes/page.css" />

        <title>Julia Evans {{page.title}}</title>
    </head>

    <body>
        <div class="span3"> </div>
        <div class="span6">
            <h1><a href="/" class="orange4"><span class="orange2">j</span>ulia e<span class="orange2">v</span>a<span class="orange2">ns</span></a></h1>
            <ul class="nav nav-pills">
            {% for link in site.navigation %}
              {% assign current = nil %}
              {% if page.url == link.url or page.layout == link.layout %}
                {% assign current = 'current' %}
              {% endif %}

              <li class="{% if page.url == link.url %}active{% endif %}">
                <a href="{{ link.url }}">{{ link.text }}</a>
              </li>
            {% endfor %}
            </ul>
            <div id="content">  
                <div id="home">
                    <h2 class="orange4">{{page.header}}</h2>
                    {{content}}
            </div>
            <div id="push"></div>
            <footer  class="orange4 footer">
                &copy; 2012 <a href="/">Julia Evans</a> || julia@jvns.ca
            </footer>
        </div>

    </body>
</html>

